// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins/clearfix";
@import "bootstrap/mixins/center-block";
@import "bootstrap/mixins/image";
@import "bootstrap/mixins/grid";
@import "bootstrap/mixins.scss";
@import "bootstrap/mixins/css3-mixins";

$section-padding: 50px;
@media (max-width: $screen-xs-max) {
	.navbar-brand {
		margin-left: $grid-gutter-width / 2;
	}

	.navbar-default .navbar-collapse {
		width: 100%;
		margin: 0;

		.btn {
			width: 100%;
		}

		.navbar-nav li {
			width: 100%;
			text-align: center;
		}
	}
}

.navbar-toggle {
	border: none;
}

.heading-block {
	display: block;
	color: white;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 30px;
	padding-bottom: 30px;
}
.heading-block-color {
	background-color: #0386DA;
}

.hero {
	background: url(../img/hero-shot.jpg) no-repeat center center;
	background-size: cover;
	margin-top: 100px;
	padding-top: 130px;
	padding-bottom: 130px;
	.h1, .h2 {
		color: white;
	}
}

.showcase {
	background: url(../img/what-we-can-do.jpg) no-repeat center center;
	background-size: cover;
	color: white;
	padding-top: $section-padding;
	padding-bottom: $section-padding;

	.showcase-section {
		@include make-lg-column(4);
		@include make-md-column(4);
		@include make-sm-column(4);
		@include make-xs-column(12);
		padding-top: 50px;
		padding-bottom: 50px;
		text-align: center;
		color: inherit;
	}

	.showcase-icon {
		$iconheight: 135px / 2;
		height: $iconheight;
		background: url(../img/icon-services.png) no-repeat;
		background-size: auto $iconheight;
		display: inline-block;
		clear: both;
		text-align: center;

		&.ico-nlp {
			width: 69px;
			background-position: 0 0;
		}
		&.ico-ml {
			width: 92px;
			background-position: -70px 0;
		}
		&.ico-dm {
			width: 124px;
			background-position: -163px 0;
		}
	}
}

.lets-talk {
	margin-top: 19px;
}

.projects {
	padding: 0;
}

.carousel {
	$zindex: 0;

	.controls {
		z-index: $zindex + 4;
	}

	.carousel-section {
		color: white;
		padding-top: $section-padding*2;
		padding-bottom: ($section-padding*2) + 20;

		h3, p, p + a, h4 {
			z-index: $zindex + 2;
			position: relative;
		}

		p {
			width: 60%;
			margin: auto auto;
			margin-bottom: 15px;
			font-size: 1.2em;
			text-shadow: 0 2px 4px rgba(0,0,0, 0.5);
		}

		&.active {
			display: block;
			opacity: 1;
		}

		.bg {
			position: absolute !important;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: auto;
			bottom: 0;
			z-index: $zindex + 1;

			&.bg-textteaser {
				background: url(../img/bg-textteaser.jpg) no-repeat center center;
				background-size: cover;
			}

			&.bg-earthquakemap {
				background: url(../img/bg-earthquakemap.jpg) no-repeat center center;
				background-size: cover;
			}

			&.bg-halalan {
				background: url(../img/bg-halalan.jpg) no-repeat center center;
				background-size: cover;
			}
		}
	}

	.carousel-nav {
		z-index: 5;
		margin-bottom: 50px;
		margin-top: -70px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		z-index: $zindex + 3;
		> li {
			width: 15px;
			height: 15px;
			border-radius: 15px;
			border: 2px solid transparentize($brand-primary, 0.3);
			background-color: lighten($brand-primary, 10%);
			margin: 0 10px;
			display: inline-block;
			position: relative;
			z-index: $zindex + 3;
			content: "";
			@include transition (background-color 0.3s cubic-bezier(.26,.51,.34,.98));

			&:hover {
				cursor: pointer;
				background-color: #BAE3F9;
				@include transition (background-color 0.3s cubic-bezier(.26,.51,.34,.98));
			}

			&.active {
				background-color: #FF9D05;
				@include transition (background-color 0.3s cubic-bezier(.26,.51,.34,.98));
			}
		}
	}
}

.owl-pagination {
	margin-top: -60px;
	z-index: 50;
	position: relative;

	.owl-page {
		display: inline-block;
		zoom: 1;

		&.active {
			> span {
				content: ".";
				background-color: lighten(yellow,10%);
			}
		}

		> span {
			display: block;
			width: 12px;
			height: 12px;
			margin: 5px 7px;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			background: $brand-primary;
		}
	}
}

.story-text {
	@include make-lg-column(7);
	@include make-md-column(7);
}

.story-people {
	@include make-lg-column(5);
	@include make-md-column(5);

	ul {
		margin-top: 50px;
	}

	$dimensions: 150px;
	.avatar {
		position: relative;
		overflow: hidden;
		.links {
			color: white;
			opacity: 0;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			margin: auto auto;
			border-radius: $dimensions;
			background-color: transparentize(#0BC1F7,0.2);
			z-index: 2;
			@include transition (opacity 0.3s cubic-bezier(.26,.51,.34,.98));

			.buttons {
				display: block;
				margin-top: 50px;
				.btn {
					background-color: transparent;
					text-align: center;
					width: 60px;
					height: 60px;
					text-align: center;
					border-radius: 60px;
					padding-top: 14px;
					&:hover {
						color: $brand-primary;
						background-color: transparentize(white,0.1);
					}
				}
			}
		}

		&:hover {
			.links {
				cursor: pointer;
				opacity: 1;
				@include transition (opacity 0.3s cubic-bezier(.26,.51,.34,.98));
			}
		}

		img {
			z-index: 1;
		}
	}

	@media (min-width: $screen-md-min) {
		ul>li {
			display: block;
			float: left;
			text-align: center;

			> img {
				display: inline-block;
				width: $dimensions;
				height: $dimensions;
			}

			&.avatar {
				.links {
					width: $dimensions;
					height: $dimensions;
				}

				&:first-child + .avatar {
					margin-top: 80px;
				}

				&:first-child + .avatar + .avatar {
					margin-top: -50px;
					clear: both;
				}
			}
		}
	}

	@media (max-width: $screen-sm-max) {
		ul>li {
			display: inline-block;
			position: relative;
			min-height: 1px;
			float: left;
			text-align: center;
			width: percentage(( 1 / 3));

			> img {
				margin: auto auto;
				width: 60%;
				height: 60%;
			}

			&.avatar > .links {
				width: 60%;
				height: inherit;
				border-radius: 100%;
			}
		}
	}
}

.textured {
	background: url(../img/shattered.png) center center;
	background-repeat: repeat;
	padding-top: $section-padding;
	padding-bottom: $section-padding;
}

.reach-us {
	padding-top: $section-padding;
	padding-bottom: $section-padding;
	background-color: $brand-primary;
	color: white;

	ul > li {
		margin-bottom: 15px;

		i, a {
			color: inherit;
			padding-top: 5px;
			padding-bottom: 5px;
			@include transition (border 0.3s cubic-bezier(.26,.51,.34,.98));
		}

		a:hover {
			border-bottom: 2px solid white;
			@include transition (border 0.3s cubic-bezier(.26,.51,.34,.98));
		}
	}
}